@model IssueViewer.Models.Issue

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Issue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RepoId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RepoId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IssueId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IssueId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastUpdatedDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastUpdatedDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
