@page
@model ISV.Pages.Categories.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].Parent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Category)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Parent.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <ul class="pagination">
        <li class="page-item @(!Model.ShowFirst? "disabled":"")">
            <a asp-page="./Index" asp-route-CurrentPage="1" class="page-link"><<</a>
        </li>
        <li class="page-item @(!Model.ShowPrevious? "disabled":"")">
            <a asp-page="./Index" asp-route-CurrentPage="@(Model.CurrentPage -1)" class="page-link"><</a>
        </li>
        <li class="page-item  @(!Model.ShowNext? "disabled":"")">
            <a asp-page="./Index" asp-route-CurrentPage="@(Model.CurrentPage + 1)" class="page-link">></a>
        </li>
        <li class="page-item  @(!Model.ShowLast? "disabled":"")">
            <a asp-page="./Index" asp-route-CurrentPage="@Model.TotalPages" class="page-link">>></a>
        </li>
    </ul>
</div>